.L-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.paddingR {
    padding-right: 10px;

}

.background {
    background: grey;
}

.centertxt {
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}



.L-carousel-size {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.david {
    color: darkred;
}